body {
    background: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif !important;
}

.navbar {
    height: 75px;
    background: black;
    text-align: center;
    /* border-bottom: 2px solid #CC5454; */
    margin-bottom: 0px;
    padding-bottom: 7px;  
}

.signIn {
   
}

#headerImg {
    height: 150px;
    width: 450px;
}

#headerImg:hover {
    transform: none;
    border: none;
}

.panel-body {
    padding: 0;
    border: none;
    font-family: 'Montserrat', sans-serif !important
}

.seriesList {
    margin-top: -20px;
    /* height: 320px; */
    color: inherit;
    background-color: #eee;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #CC5454 !important;
    border-bottom: 2px solid #CC5454 !important;
}
.series-title{
    margin-bottom: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.series-rating {
    margin-bottom: 0;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

img {
    height: 220px;
    width: 170px;
    margin-bottom: 3px;
}

img:hover {
    transform: scale(1.02);
    border: 2px solid #CC5454;
}

.search-bar {
    padding: 20px 10px;
}

#series0, #series1,  #series2, #series3,  #series4,  #series5,  #series6,  #series7 {
    height: 250px;
    width: 170px;
    color: black;
    text-align: center;
    padding: 3px;
    font-family: 'Montserrat', sans-serif !important

}

/* 
=====================================
T.V. Series Search Display Results
===================================== 
*/

.container {
    font-family: 'Montserrat', sans-serif !important
}

#tvShow img, #show img {
    width: 100%;
}

#tvShow .col-md-3 .well {
    height: 390px;
}

#tvShow .col-md-3 img {
    height: 275px;
}

.searchBar {
    margin-top: -30px;
}

/* 
=====================================
tvSeries.html
===================================== 
*/

#show {
    margin-top: 20px;
}

img.thumbnail {
    height: 300px;
    margin-top: 15px;
}

h2 {
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif !important;
}

.network-logo {
    max-height: 30px;
    max-width: 60px !important;
    float: right;
    vertical-align: middle;
}

.network-logo:hover {
    transform: none;
    border: none;
}

h3 {
    border-bottom: 1px solid #CC5454;
    font-family: 'Montserrat', sans-serif !important;
}

img.cast-logo {
    height: 100px;
    width: 100px !important;
    border-radius: 50px;
    text-align: center;
}

div.cast.col-md-2 {
    text-align: center;
}

img.cast-logo:hover {
    transform: scale(1.1);
    border: 2px solid #CC5454;
}


