<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burger Time!</title>

		{{!-- spectre css framework --}}
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
		<script type="text/javascript" src="/jquery.backstretch.min.js"></script>
		{{!-- custom styles --}}
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
	</head>
	<body>
		{{{ body }}}
	</body>

	

</html>